<log4net>
	<appender name="LogFile" type="log4net.Appender.FileAppender">
		<file value="app.log"/>
		<layout type ="log4net.Pattern.LayoutPattern">
			<conversionPattern value="%-5p %d{hh:mm:ss} %message%newline"/>
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>